.sticky {
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 999999999999;
  }

  h6{
    margin-right: 2%;
    align-items: center;
    color: whitesmoke;
  }

.menubar{
  margin-left: 87%;
  margin-top: -0.3%;
  width:12%;
  }

.btnsesion{
  background-color: white;
  color: black;
  }

  .btn-danger{
    border-color: black;

  }
  i{
    margin-left:3%;
  }
.izq{
  margin-left: 4% important;
}