section { 
    float: right;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:5%;
    background-color: black;
    color: white;
    text-align: center;
    /*background-image: url()*/
}

.alineada{
    width: 96%;
    margin-left:2%;
}
.btn-centrado{
    width:90px;
    margin-left: 4%;
}

.foto{
    width:17%;
}

.tcenter >tr{
    text-align:center;
}
.tcenter2{
    text-align:center;
}

.valign2 >td{
    vertical-align:middle;
}
.fondo{
    margin-bottom: 3%;

}
.calign{
    margin-left: 11%;
    vertical-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-right: 1px solid lightgray;
    height: 150px;
    width: 150px;
    padding-right: 3%;
    padding-left: 3%;
    border-radius:12%;

}
.espacio{
    margin-top: 8%;

}