footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:5%;
    background-color: black;
    color: white;
    text-align: center;
    /*background-image: url()*/
}
.calign{
    margin-left: 11%;
    vertical-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-right: 1px solid lightgray;
    width: 74%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius:12%;

}